@charset "utf-8";

@font-face {
    font-family: font1;
    src: url(Fontes/KGBlankSpaceSketch.ttf);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color:   #2e1c1c  ;
}

h1 {
    font-family: font1;
    font-size: 3em;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color: crimson;
}

.container{
    height: 460px;
    width: 800px;
    overflow: hidden;
    position: absolute; /* Torna possível alterar a posição do container*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*altera a posição do eixo*/
}

    .navegacao {
        position: absolute; /*Posição em relação ao container*/
        bottom: 20px; /*Distância a partir da base*/
        left: 50%; /*Distância a partir da esquerda*/
        transform: translate(-50%); /*Alterar o eixo principal*/
        display: flex; /*Colocar o conteúdo lado a lado*/
    }

    .bar {
        background-color: rgb(231, 185, 185); /*Plano de Fundo do indicador*/ 
        width: 50px;/*largura do indicador*/
        height: 5px;/*Altura do indicador*/
        margin: 10px; /*Espaço entre os indicadores*/
        transition: .3s;/*Transição no hover*/
        cursor: pointer;/*Ponteiro do Mouse*/
    }

    .bar:hover{
        background-color: rgb(35, 247, 176);
    }


    input {
        display: none; /*Ocultar as input do tipo Radio*/
    }

    .imagens {
        display: flex; /*Posiciona uma imagem ao lado da outra*/
        width: 600%; /*define o tamanho da div imagem*/
        height: 100%; /*Define a altura a div imagens*/
    }

    .imagem {
        width: 16.6666666667%; /*Define a proporcão do tamanho de cada imagem em relacão ao elemento pai*/
        transition: .5s; /*efeito na transição das imagens*/
    }

    .imagem img {
        width: 100%; /*ajusta o tamanho da imagem dentro do container*/
        height: 100%; /*ajusta o tamanho da imagem dentro do container*/
    }

    #imagem2:checked ~ .img1 {
margin-left: -16.6666666667%;
    }

    #imagem3:checked ~ .img1 {
        margin-left: -33.3333333333%;
    }

    #imagem4:checked ~ .img1 {
        margin-left: -50%;
    }

    #imagem5:checked ~ .img1 {
margin-left: -66.6666666667%;
    }

    #imagem6:checked ~ .img1 {
        margin-left:  -83.3333333333%;
    }


    footer{
        position: absolute;
        bottom: 0;
        color: rgb(243, 233, 235);
        left: 15%;
        transform: translate(-50%);
    }
